@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

@font-face {
  font-family: "UTM Avo";
  src: url("../fonts/UTM\ Avo.ttf");
}

@font-face {
  font-family: "UTM Avo Bold";
  src: url("../fonts/UTM\ AvoBold.ttf");
}

@font-face {
  font-family: "UTM Avo Italic";
  src: url("../fonts/UTM\ AvoItalic.ttf");
}

@font-face {
  font-family: "UTM Avo Bold Italic";
  src: url("../fonts/UTM\ AvoBold_Italic.ttf");
}

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #cd1421;
  --secondary-color: #686867;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}


/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
  font-family: "UTM Avo";
}

/* .container {
  width: 100%;
} */

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

body {
  /* font-family: "Roboto", sans-serf; */
  font-family: "UTM Avo";
}

ul.none {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color: var(--secondary-color); */
}

a.no-color {
  color: black;
}

a.no-color:hover {
  color: black;
}

a:hover {
  color: var(--primary-color);
}

/* Caroussel */

/* .carousel-item {
  height: 800px;
} */
.carousel img {
  /* position: absolute; */
  min-width: 100%;
  /* height: 500px; */
  max-width: none;
  --bs-aspect-ratio: 50%;
  /* padding-bottom: 20%; */
  aspect-ratio: 16 / 9;
  filter: brightness(75%);
}

.display-1 {
  font-size: 4vw;
}

.display-5 {
  font-size: 2.2vw;
}

/* @media (max-width: 990px) {
  .display-1 {
    font-size: large;
  }
  .display-6 {
    font-size: medium;
  }
} */

/* About */

@media (max-width: 768px) {
  .about-container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .about-container {
    width: 50%;
  }
}

.about-container {
  background-color: rgba(255, 255, 255, 0.5);
  /* background-image: url("../images/logo.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: lighten;
  /* opacity: 0.5; */
}

/* Products tab */

.tab-wrapper{
    width: auto;
    margin: 30px auto;
    border: solid 1px var(--secondary-color);
}
.tab-wrapper ul{
    overflow: hidden;
    background: var(--primary-color);
    margin: 0px;
    padding: 0px;
}
.tab-wrapper ul li{
    float: left;
    list-style: none;
    padding: 10px 20px;
    background: var(--primary-color);
    border-radius: 10px 10px 0px 0px;
    margin-right: 5px;
    margin-top: 5px;
}
.tab-wrapper ul li.active{
    background: #Fff;
}
.tab-wrapper ul li.active a{
    color: var(--primary-color);
}
.tab-wrapper ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.tab-content{
    padding: 20px;
}
.tab-item{
    display: none;
}

/* Products */

.container-sm {
    /* border: 2px solid #ffe0e0; */
    border: 2px solid rgba(205, 20, 33, 0.2);
}

.img-cover {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.img-product {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.test {
  color: #Fff;
  position: absolute;
  top: 60%;
  left: 8%;
}

ul.circle {
  list-style-type: circle;
}